body{
  font-family:sans-serif;
  text-align:center;
  margin:0;
}

#arrowContainer{
  width:150px;
  height:150px;
  margin:30px auto;
  position:relative;
}

#arrow{
  width:0;
  height:0;
  border-left:25px solid transparent;
  border-right:25px solid transparent;
  border-bottom:70px solid red;
  position:absolute;
  top:20px;
  left:50%;
  transform:translateX(-50%) rotate(0deg);
  transform-origin:50% 80%;
  transition:0.1s linear;
}

#direction{
  font-size:30px;
}

#distance{
  font-size:45px;
  font-weight:bold;
}
